Good Links:

https://towardsdatascience.com/item-based-collaborative-filtering-in-python-91f747200fab

# Imports

In [ ]:
# Library
import pandas as pd
import numpy as n
import seaborn as sns
import matplotlib.pyplot as plt
from numpy import *
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Locations
ml_100k = '/content/drive/My Drive/movie_recs/ml-100k'
ml_20m = '/content/drive/My Drive/movie_recs/ml-20m'

<h1>Random Stats</h1>

In [ ]:
column_names_a = ['genre, number']
genre = pd.read_csv(ml_100k +'/u.genre', sep='|', names=column_names_a)
# Checking shape of users files and head 
print(genre.shape)
genre

(19, 1)

             genre, number
unknown                  0
Action                   1
Adventure                2
Animation                3
Children's               4
Comedy                   5
Crime                    6
Documentary              7
Drama                    8
Fantasy                  9
Film-Noir               10
Horror                  11
Musical                 12
Mystery                 13
Romance                 14
Sci-Fi                  15
Thriller                16
War                     17
Western                 18

<h1>Reading User Ratings</h1>

In [ ]:
column_names_b = ['user_id', 'item_id', 'rating', 'timestamp']
users= pd.read_csv(ml_100k +'/u.data', sep='\t', names=column_names_b)
# Checking shape of users files and head 
print(users.shape)
users.head()

(100000, 4)

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

# Reading Movie

In [ ]:
# Reading the movie data
movies= pd.read_csv(ml_20m+'/movies.csv')
movies = movies.rename(columns = {'movieId':'item_id'})
# Checking shape of movie data and look first 5 rows
print(movies.shape)
movies.head()

(27278, 3)

,item_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

<h1>FIND SIMILAR USERS</h1>

User ratings of all movies they rated

In [ ]:
df = pd.merge(users,movies,  on = 'item_id')
MoviesNUsers = df.pivot_table(index="user_id",columns='title',values='rating').fillna(0)
print(MoviesNUsers.shape)
MoviesNUsers.head()

(943, 1626)

title,'Til There Was You (1997),1-900 (06) (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (One Eight Seven) (1997),2 Days in the Valley (1996),2 ou 3 choses que je sais d'elle (2 or 3 Things I Know About Her) (1967),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),"301, 302 (301/302) (1995)",...,Wyatt Earp (1994),Yankee Zulu (1994),Year of the Horse (1997),"Yes, Madam (a.k.a. Police Assassins) (a.k.a. In the Line of Duty 2) (Huang gu shi jie) (1985)",Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zero Kelvin (Kjærlighetens kjøtere) (1995),Zeus and Roxanne (1997)
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Cosine Similarity

In [ ]:
from numpy import dot
from numpy.linalg import norm

def cosine_similarity(a, b):
  cos_sim = dot(a, b)/(norm(a)*norm(b))
  return cos_sim

#Just to test things out

a = MoviesNUsers.iloc[0] #user id = 1
b = MoviesNUsers.iloc[915] #user id = 916

cosine_similarity(a,b)

0.5674233765435364

Try make algorithm that tries to recommend movie for a specific user, say, top 5 ish movies

In [ ]:
def findSimilar(user_data, data, k): #Return top k users
  sim_of_user = []
  for i in range(len(data)):
      x = [data.iloc[i],cosine_similarity(user_data, data.iloc[i])]
      sim_of_user.append(x)
  sim_of_user.sort(key=lambda x: x[1], reverse = True)
  if sim_of_user[0][1] >= 1: #Delete the same users if they exist
    del sim_of_user[0]
  #del sim_of_user[0] #This is for when the user is in the same dataset, we delete the similarity to themselves, cos itll always be 1
  top_users = []
  for i in range(k):
    top_users.append(sim_of_user[i])
  return top_users

#Test, The numbers on the left refer to the iloc of the user, its a direct copy of what to put in the system
findSimilar(MoviesNUsers.iloc[1], MoviesNUsers, 3)

[[title
  'Til There Was You (1997)                     0.0
  1-900 (06) (1994)                             0.0
  101 Dalmatians (1996)                         0.0
  12 Angry Men (1957)                           0.0
  187 (One Eight Seven) (1997)                  0.0
                                               ...
  Young Guns (1988)                             0.0
  Young Guns II (1990)                          0.0
  Young Poisoner's Handbook, The (1995)         0.0
  Zero Kelvin (Kjærlighetens kjøtere) (1995)    0.0
  Zeus and Roxanne (1997)                       0.0
  Name: 701, Length: 1626, dtype: float64, 0.5850179393017045], [title
  'Til There Was You (1997)                     0.0
  1-900 (06) (1994)                             0.0
  101 Dalmatians (1996)                         0.0
  12 Angry Men (1957)                           0.0
  187 (One Eight Seven) (1997)                  0.0
                                               ...
  Young Guns (1988)                             0.0
  Young Guns II (1990)                          0.0
  Young Poisoner's Handbook, The (1995)         0.0
  Zero Kelvin (Kjærlighetens kjøtere) (1995)    0.0
  Zeus and Roxanne (1997)                       0.0
  Name: 931, Length: 1626, dtype: float64, 0.5124729071204053], [title
  'Til There Was You (1997)                     0.0
  1-900 (06) (1994)                             0.0
  101 Dalmatians (1996)                         0.0
  12 Angry Men (1957)                           0.0
  187 (One Eight Seven) (1997)                  0.0
                                               ...
  Young Guns (1988)                             0.0
  Young Guns II (1990)                          0.0
  Young Poisoner's Handbook, The (1995)         3.0
  Zero Kelvin (Kjærlighetens kjøtere) (1995)    0.0
  Zeus and Roxanne (1997)                       0.0
  Name: 460, Length: 1626, dtype: float64, 0.5092680857261226]]

Make algrithm to predict the rating of movies

In [ ]:
cosine_similarity(MoviesNUsers.iloc[1],MoviesNUsers.iloc[700])

0.5850179393017045

Recommend movies from the top 5 similar people, by showing all movies that designated user has not seen, but candidate users have seen (without repeating the same movie of course).

In [ ]:
MoviesNUsers.iloc[1]

title
'Til There Was You (1997)                     0.0
1-900 (06) (1994)                             0.0
101 Dalmatians (1996)                         0.0
12 Angry Men (1957)                           0.0
187 (One Eight Seven) (1997)                  0.0
                                             ...
Young Guns (1988)                             0.0
Young Guns II (1990)                          0.0
Young Poisoner's Handbook, The (1995)         0.0
Zero Kelvin (Kjærlighetens kjøtere) (1995)    0.0
Zeus and Roxanne (1997)                       0.0
Name: 2, Length: 1626, dtype: float64

In [ ]:
# Here we are going to cosine simalirity 
#import numpy as np
#from sklearn.neighbors import NearestNeighbors

# Building the model
#model_knn = NearestNeighbors(metric= 'manhattan', algorithm='brute')

# Fitting the model 
#model_knn.fit(MoviesNUsers)

# Data Pre-processing

Eliminate users with less than X amount of movies rated. We will see how much data gets removed

In [ ]:
import numpy as np
#RUN THIS AT YOUR OWN RISK, IT TAKES A WHILE TO COMPILE, BUT IT WORKS
'''X = 19 #Lucky for us, all users rated at LEAST 20 movies.
NewSet = MoviesNUsers
print(np.shape(NewSet))
for i in range(NewSet.shape[0]):
  count = 0
  for j in range(NewSet.shape[1]):
    if MoviesNUsers.iloc[i][j] > 0:
        count = count + 1
  if count < X:
    NewSet = NewSet.drop(i)
    print('dropped row:', i, np.shape(NewSet), end=" ")'''

'X = 19 #Lucky for us, all users rated at LEAST 20 movies.\nNewSet = MoviesNUsers\nprint(np.shape(NewSet))\nfor i in range(NewSet.shape[0]):\n  count = 0\n  for j in range(NewSet.shape[1]):\n    if MoviesNUsers.iloc[i][j] > 0:\n        count = count + 1\n  if count < X:\n    NewSet = NewSet.drop(i)\n    print(\'dropped row:\', i, np.shape(NewSet), end=" ")'

Perform Partitioning

In [ ]:
#CHOOSE HOWEVER YOU WANT TO PARTITION
NewSet = MoviesNUsers
Test = NewSet.sample(frac=0.2)
Train = NewSet.drop(Test.index)

print(np.shape(Test))
print(np.shape(Train))

(189, 1626)
(754, 1626)

Ommit data based on latest user interaction. First get timestamps

In [ ]:
TS_column_names = ['user_id', 'item_id', 'rating', 'timestamp']
users= pd.read_csv(ml_100k +'/u.data', sep='\t', names=TS_column_names)
# Checking shape of users files and head 
print(users.shape)
users.head()

(100000, 4)

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

Get movie based on item_id by combining columns

In [ ]:
movies= pd.read_csv(ml_20m+'/movies.csv')
movies = movies.rename(columns = {'movieId':'item_id'})
# Checking shape of movie data and look first 5 rows

In [ ]:
timed_ratings = pd.merge(users, movies, on= 'item_id')

In [ ]:
Train

title,'Til There Was You (1997),1-900 (06) (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (One Eight Seven) (1997),2 Days in the Valley (1996),2 ou 3 choses que je sais d'elle (2 or 3 Things I Know About Her) (1967),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),"301, 302 (301/302) (1995)",...,Wyatt Earp (1994),Yankee Zulu (1994),Year of the Horse (1997),"Yes, Madam (a.k.a. Police Assassins) (a.k.a. In the Line of Duty 2) (Huang gu shi jie) (1985)",Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zero Kelvin (Kjærlighetens kjøtere) (1995),Zeus and Roxanne (1997)
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0

Take out train set from time list

In [ ]:

for i in range (len(Train)):
  timed_ratings = timed_ratings.drop(timed_ratings.index[timed_ratings['user_id'] == int(Train.index[i])])# drop user id in training set
  print(len(timed_ratings), end = ' ')
timed_ratings

98409 98347 98294 98270 98095 97885 97489 97432 97253 96629 96531 96428 96288 96262 95988 95968 95921 95747 95619 95470 95392 95349 95314 95273 95250 95230 95205 95149 95028 95006 94971 94919 94737 94520 94370 94322 94295 94272 94207 93997 93974 93918 93890 93825 93642 93537 93384 93008 92988 92758 92666 92467 92387 92349 92319 92285 92221 92084 92018 91979 91902 91822 91751 91731 91677 91648 91590 91423 91269 91201 91178 90972 90899 90607 90221 89827 89552 89497 89434 89407 89350 89283 89254 89143 89120 89056 89024 88895 88871 88827 88777 88730 88638 88497 88319 88293 88233 88179 87999 87955 87932 87751 87402 87376 87352 87317 87270 87247 87226 87194 87175 87147 87127 87062 87028 86724 86619 86597 86576 86526 86406 86348 86306 86283 86222 86193 86174 86105 86037 86000 85972 85945 85904 85867 85804 85535 85493 85067 85039 84986 84739 84648 84592 84480 84297 84238 84211 84176 83872 83833 83717 83537 83499 83117 83097 83055 83013 82991 82928 82700 82667 82634 82502 82465 82339 82212 82119 81990 81915 81862 81717 81336 81199 81172 81122 80991 80970 80878 80769 80300 80207 80084 80036 80007 79850 79826 79804 79785 79705 79469 79447 79253 79227 79172 79012 78992 78896 78740 78534 78512 78488 78461 78303 78184 78065 78020 77997 77814 77491 77170 77034 76757 76706 76684 76613 76518 76009 75956 75933 75515 75490 75469 75422 75140 75065 75038 74891 74601 74477 74329 74135 73989 73797 73521 73501 73230 73210 72733 72708 72492 72460 72349 71959 71939 71919 71629 71411 71151 70911 70824 70750 70729 70707 70584 70533 70445 70380 70238 70052 69770 69492 69428 69282 69214 69033 69007 68681 68553 68519 68444 68191 68147 67958 67731 67541 67346 67289 67248 67198 67156 67131 66902 66877 66855 66780 66739 66637 66517 66494 66189 66170 66114 66081 66036 66014 65940 65874 65642 65371 65343 65313 65282 65088 64926 64800 64748 64727 64705 64403 64136 64106 63986 63876 63729 63672 63571 63399 63379 63226 63159 63117 62401 62059 61834 61808 61607 61581 61523 61472 61422 61399 61039 61019 60988 60926 60864 60823 60623 60524 60493 60439 60031 59967 59948 59886 59842 59698 59437 59404 59374 59354 59331 59307 59174 59037 59000 58926 58396 58301 58097 57942 57709 57521 57307 57031 56850 56783 56760 56728 56598 56545 56465 56366 56224 56168 56137 55881 55846 55522 55502 55420 55385 55183 55124 55068 55042 54984 54846 54820 54635 54409 54256 54150 54093 54060 54006 53873 53827 53619 53492 53216 53067 52965 52745 52709 52551 52302 52064 52008 51922 51889 51860 51836 51815 51794 51601 51580 51544 51471 51422 51399 51249 51219 51121 50823 50769 50702 50567 50515 50474 50429 50400 50127 49871 49709 49228 49172 49111 48981 48846 48650 48591 48438 48414 48375 48044 47963 47865 47751 47699 47656 47603 47528 47427 47397 47364 47329 47180 47029 46948 46878 46856 46805 46760 46734 46699 46511 46488 46415 46369 46342 46266 46102 46007 45786 45746 45700 45345 45189 45165 45069 45045 44999 44912 44767 44720 44693 44603 44369 44332 44169 44141 44099 44072 44044 43941 43900 43686 43599 43492 43324 43099 42961 42930 42753 42726 42605 42498 42479 42363 42305 42174 42141 42122 42055 41911 41871 41559 41354 41313 41192 41155 41097 40804 40781 40474 40454 40433 40154 40009 39341 39270 39081 38859 38738 38715 38549 38408 38167 38120 38075 37976 37947 37913 37873 37839 37762 37716 37688 37650 37628 37235 37149 37129 37109 37085 37049 36934 36902 36862 36706 36670 36643 36540 36413 36267 36246 36134 35903 35799 35662 35576 35417 35388 35345 35178 35086 35049 34982 34953 34911 34889 34806 34781 34758 34439 34414 34394 34356 34273 34253 34149 34085 34062 34029 33882 33847 33827 33724 33698 33663 33636 33577 33511 33221 33114 32813 32781 32617 32547 32490 32456 32420 32315 32151 31800 31769 31703 31682 31553 31445 31272 31235 31171 31142 31110 30951 30729 30701 30597 30561 30496 30441 30411 30373 30347 30230 30173 29927 29894 29869 29822 29767 29730 29377 29351 29118 29094 29066 29040 28712 28441 28303 28280 28255 28235 28206 28025 28001 27965 27903 27720 27701 27589 27562 27459 27395 27289 27217 27193 26928 26875 26825 26780 26687 26632 26438 26410 26383 26181 26100 26069 25925 25902 25851 25644 25596 25556 25340 25317 25298 25260 25189 25147 25042 24750 24730 24636 24370 24300 24280 24246 24157 24024 23660 23403 23266 23002 22960 22725 22558 22538 22220 22101 21876 21818 21798 21441 21259 21230 21096 20974 20928 20888 20849 20775 20749 20689 20592 20540 20408 20382 20072 20038 19937 19725 19699 19590 19464 19391 19310 19290 19258 19209 19148 18975 18937 18798 18758 18651 18603 18496 18474 18307

,user_id,item_id,rating,timestamp,title,genres
3,154,242,3,879138235,Farinelli: il castrato (1994),Drama|Musical
26,145,242,5,875269755,Farinelli: il castrato (1994),Drama|Musical
29,144,242,4,888103444,Farinelli: il castrato (1994),Drama|Musical
34,12,242,5,879960826,Farinelli: il castrato (1994),Drama|Musical
36,131,242,5,883681723,Farinelli: il castrato (1994),Drama|Musical
...,...,...,...,...,...,...
98650,782,1668,3,891500067,One Night Stand (1997),Drama
98659,782,1665,2,891500194,Bean (1997),Comedy
98661,782,1670,3,891497793,Welcome to Sarajevo (1997),Drama|War
98666,782,1667,3,891500110,Mad City (1997),Action|Drama
98670,416,1594,5,893212484,In the Company of Men (1997),Comedy|Drama

Creating Target List

In [ ]:
target_list = []
timed_ratings[timed_ratings.timestamp == timed_ratings.timestamp.max()].iloc[0] #grab the max timestamp
while len(timed_ratings) != 0:
  target_list.append(timed_ratings[timed_ratings.timestamp == timed_ratings.timestamp.max()].iloc[0]) # grabs the row, and appends it to target
  drop_user = timed_ratings[timed_ratings.timestamp == timed_ratings.timestamp.max()].iloc[0][0] #assign user to be dropped
  timed_ratings = timed_ratings.drop(timed_ratings.index[timed_ratings['user_id'] == int(drop_user)])#after that, drop all rows with the same user id
  print(len(timed_ratings), end = " ")

18233 18128 17646 17361 17012 16811 16600 16457 16323 15954 15860 15837 15609 15504 15476 15455 15243 14989 14945 14915 14866 14845 14671 14567 14543 14228 13998 13973 13941 13845 13755 13682 13576 13139 13103 13026 13003 12768 12746 12725 12654 12571 12547 12526 12506 12404 12359 12240 12219 12187 11952 11928 11822 11605 11229 11074 10963 10942 10830 10622 10468 10086 10041 10021 9946 9917 9783 9670 9634 9572 9368 9347 9318 9042 9003 8982 8876 8853 8797 8648 8626 8557 8531 8480 8460 8384 8298 8156 8132 8101 8000 7966 7928 7903 7874 7720 7689 7636 7608 7436 7389 7327 7207 7178 7052 6922 6762 6690 6295 6189 6031 6002 5983 5936 5914 5773 5731 5711 5591 5563 5481 5419 5317 5240 5207 5128 4816 4797 4684 4627 4606 4578 4538 4307 4256 4074 4051 3986 3816 3783 3732 3677 3411 3361 3326 3230 3188 2972 2856 2785 2723 2679 2636 2587 2548 2528 2508 2487 2460 2297 2273 2221 2103 2032 1981 1930 1899 1858 1837 1791 1746 1667 1604 1567 1486 1320 1115 1091 1038 980 917 680 608 537 497 429 229 183 0

To Dataframe

In [ ]:
target = pd.DataFrame(target_list)#make the target list into a dataframe

In [ ]:
print(target.iloc[1]['title'])
print(target.iloc[1]['user_id'])
print(target.iloc[1]['rating'])

Sword in the Stone, The (1963)
159
2

Re-assigns target values in the test to 0

In [ ]:

testtest = Test # i dont wanna do that real Test thing, so just do this instead
#print(testtest.at[796, 'Last Action Hero (1993)'])
for i in range(len(target)):
  testtest.at[target.iloc[i].user_id, target.iloc[i].title]=0 #update value at particular column to 0, this is what we will predict
  
#print(testtest.at[796, 'Last Action Hero (1993)']) #wanna see the values change, this changes everytime you run through the dataset

Sort Datasets for easier reading

In [ ]:
testtest = testtest.sort_values(by=['user_id'])

In [ ]:
target = target.sort_values(by=['user_id'])

# Testing/Benchmarking Cosine Distance

Cosine Similarity prediction

In [ ]:
def findSimilar_no_drop(user_data, data, k): #Return top k users
  sim_of_user = []
  for i in range(len(data)):
      x = [data.iloc[i],cosine_similarity(user_data, data.iloc[i])]
      sim_of_user.append(x)
  sim_of_user.sort(key=lambda x: x[1], reverse = True)
  if sim_of_user[0][1] >= 1: #Delete the same users if they exist
    del sim_of_user[0]
  #del sim_of_user[0] #This is for when the user is in the same dataset, we delete the similarity to themselves, cos itll always be 1
  top_20_plus_k = []
  for i in range(20 + k):
   top_20_plus_k.append(sim_of_user[i]) 
  return top_20_plus_k

findSimilar_no_drop(MoviesNUsers.iloc[1], MoviesNUsers)

TypeError: ignored

In [ ]:
def mass_cos_sim_predict(trainData, testData, target, k):
  predictions = []
  for i in range(len(testData)):
    sim_users = findSimilar(testData.iloc[i], trainData, k)
    #sim_users = findSimilar_no_drop(testData.iloc[i], trainData, k) 
    movie_to_predict = target.iloc[i]['title']#target and test set sorted, so its ok
    #movie_to_predict = target[target.user_id == i]['title']
    prediction = predict_rating(sim_users, movie_to_predict, k)
    comp = [prediction, target.iloc[i]['rating']]
    #comp = [prediction, target[target.user_id == i]['rating']]
    predictions.append(comp)
  return predictions
  
def evaluate_rmsd_cossim(predictions):
  #now check the error of the predicitons using RMSE/D
  sqsum = 0
  n = len(predictions)
  for i in range(len(predictions)):
    #if predictions[i][0] > 0: ##eliminate non zero entries
    sqsum = sqsum + (predictions[i][0] - predictions[i][1])**2
  rmsd = 1
  if n == 0:
      rmsd = 1
  else:
    rmsd = (sqsum/n)**(1/2)
  return rmsd



def predict_rating(sim_users, movie, k):
  numerator = 0
  denominator = 0
  predicted_rating = 0
  movie_index = list(sim_users[1][0].keys()).index(movie)
  #first check if the user has a rating rated the movie
  #if they did, add their sim score to denom, add their rating*score to numerator
  buffer = 0
  i = 0
  for i in range(len(sim_users)):
    #if sim_users[i][0][int(movie_index)] > 0:
    numerator = numerator + sim_users[i][0][movie_index]*sim_users[i][1] #numerator calc; similariy * rating
    denominator = denominator + sim_users[i][1] #sum of non missing similarity scores. non missing means that similar users have watched the target movie, otherwise, they dont cotnribute
  if denominator == 0:
    predicted_rating = 0#default for when there are no users, we can set this to a custom variable to increase performane (2.5)
  else:
    predicted_rating = numerator/denominator
    
  return predicted_rating
#workflow on on iterationL: for all entries in

In [ ]:
predictions = mass_cos_sim_predict(Train, testtest, target, 5)
print(predictions)

[[0.0, 5], [1.1824875173366145, 4], [0.0, 5], [2.040561977262205, 4], [2.977177649064591, 4], [1.1689786937948399, 3], [0.7884710457653838, 2], [0.0, 4], [0.0, 5], [0.0, 4], [1.9858439774750318, 5], [0.817776730760587, 4], [0.5817469996979305, 1], [2.381410636615578, 5], [0.7973234179706404, 4], [0.38611270427459415, 5], [2.551802181369533, 4], [0.0, 2], [1.0072920649989745, 1], [0.614630060996153, 1], [0.5901469532905079, 3], [0.21829588156984037, 2], [0.0, 2], [0.38213038911702624, 4], [0.0, 5], [2.688881126068442, 3], [1.1983010941328343, 1], [1.7656173094758298, 5], [0.0, 4], [0.0, 3], [3.462660544850854, 5], [0.0, 1], [2.244825773019618, 4], [0.0, 1], [0.583385209518208, 1], [2.4135970097284214, 3], [3.642980686455202, 3], [1.6490588471045164, 4], [0.1888971137204608, 2], [0.5454153849912495, 5], [0.9122636499647602, 1], [1.0083073190778706, 2], [3.402766613271058, 5], [0.0, 5], [2.1934812865270152, 4], [3.6132364935697154, 4], [0.4147862572018203, 3], [2.8788669189432703, 4], [0.0, 3], [0.0, 4], [0.9633761724856981, 5], [0.5942099474126445, 3], [0.0, 1], [4.189926962549185, 4], [2.2248752806823835, 4], [0.9934216265947174, 4], [0.0, 5], [0.19086981988499346, 4], [1.8113011842733262, 3], [2.6013991845260716, 5], [0.7069360136267949, 4], [0.0, 3], [0.38385949103698513, 5], [0.7922000142371697, 2], [2.435925054485369, 3], [0.19428135726031337, 2], [3.0170840762177806, 4], [1.3782113945396455, 3], [1.3992847535636785, 3], [2.3389089815038777, 1], [4.199097982197424, 5], [0.0, 4], [1.7922213950779444, 4], [0.7506602522019825, 4], [0.5858356191604432, 3], [0.0, 3], [3.6978964741674565, 5], [0.8109367653694635, 4], [0.5614996156683637, 4], [0.0, 3], [0.1901766630658751, 2], [3.209442273736913, 3], [0.0, 2], [0.0, 5], [0.7865630324798575, 4], [0.0, 3], [0.24050511812957703, 2], [0.0, 5], [0.5873413800143038, 3], [0.0, 4], [1.0084168167381171, 1], [1.852362198155168, 2], [0.938406790420872, 3], [1.3216935352631518, 4], [1.6095427293241538, 5], [3.9848857809593863, 2], [0.7352880706692413, 4], [0.0, 4], [2.794846944203123, 2], [2.607255834876419, 4], [2.0369109482834866, 5], [2.964708067969821, 4], [1.2247746510856836, 2], [0.3929324169511948, 3], [0.0, 2], [4.437324876131368, 5], [0.0, 2], [2.1362688339270086, 4], [0.5728798004322816, 2], [0.7273354911579282, 3], [0.0, 2], [2.429177626645459, 5], [0.0, 1], [2.0346319680001006, 3], [0.0, 2], [0.0, 5], [1.5322362852320401, 3], [3.225704008132384, 4], [0.8409818089724533, 3], [0.21272411035568484, 3], [3.562520503695159, 5], [2.960668937957152, 3], [0.0, 2], [1.4168074068433398, 4], [0.403183397045729, 3], [1.5448054106846791, 3], [1.984111180846738, 5], [3.592641074335261, 2], [0.0, 5], [0.0, 3], [0.0, 4], [0.0, 1], [0.8119837456419116, 3], [2.151175951818089, 5], [1.3595841813951046, 5], [1.771424623805085, 4], [0.0, 2], [4.230984861978097, 4], [0.0, 4], [2.8013792108892788, 4], [0.0, 1], [2.175555933120024, 3], [0.0, 3], [0.0, 5], [0.0, 4], [0.0, 3], [0.5411168649178998, 4], [2.064138498292691, 5], [0.0, 3], [0.9762103268302514, 3], [0.6018400234230565, 1], [2.8773281547472807, 5], [1.1809820096978467, 4], [0.39477455406041245, 4], [0.5753671122009812, 1], [0.0, 4], [0.5525301548238762, 2], [0.0, 1], [0.722612265698842, 5], [1.033844529214169, 4], [0.397760494778686, 2], [0.19910388922934424, 2], [3.7798947901039144, 4], [0.9878706430805674, 3], [0.6055327202223015, 5], [0.0, 2], [0.0, 1], [2.661666084226076, 4], [2.5520525938482246, 4], [0.7868698306465436, 3], [0.5781457302967471, 4], [0.0, 3], [0.9783472960315654, 5], [0.7271044422703118, 5], [4.0059884907685115, 4], [1.6055257294247618, 2], [2.2946466227035205, 5], [1.600877194619052, 4], [0.0, 1], [0.0, 5], [4.400384989862266, 5], [1.1561805774754972, 5], [2.8103838015444738, 5], [0.37703026721895194, 2], [3.024443383243573, 5], [0.9553230664072248, 2], [4.598260956373247, 5], [0.40977004550248197, 1], [1.3954238603532934, 4]]

In [ ]:
evaluate_rmsd_cossim(predictions)

2.6417824449746354